{% extends "base.html" %}
{% block title %}Ошибка — страница не найдена | Элексо{% endblock title %}

{% block body %}

<div id="cg-page-wrap" class="hfeed site">				
<div class="container">
    <div class="content">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="content-area entry-content" style='text-align: center;'>
                    <main id="main" class="site-main" role="main">
				<img src="/static/img/404.png" alt="404 Picture">
                        <section class="error-404 not-found">                           
                                <h1 class="page-title">Ошибка &#8212; страница не найдена</h1>                          
                            <div class="page-content">
                                <p>Страницу которую Вы ищите нет. Проверте пожалуйста URL адрес.</p>
                                <p><a href="http://elecso.ru">Вернуться на главную</a></p>
                            </div><!-- .page-content -->
                        </section><!-- .error-404 -->

                    </main><!-- #main -->
                </div><!-- #primary -->
            </div><!--/row -->
        </div><!--/content -->
    </div><!--/container -->
</div>
</div>
</div><!--/page-container -->

</div><!--/wrapper-->
</div><!-- close #cg-page-wrap -->
{% endblock body %}
