<!DOCTYPE html>
{% load staticfiles %}
<html id="ls-global" class=" js csstransitions js_active  vc_desktop  vc_transform " lang="ru-RU"><!--<![endif]-->
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="google-site-verification" content="2O8vH8uenIeDroIjvT_YArjgOktH2R61pINjakQe42g" />
<title>{% block title %}Сборка электрощитов | Элексо{% endblock title %}</title>
<meta name="description" content="{% block desc %}Сборка распределительных электрощитов, квартирных щитов, шкафов управления насосами, АВР. Продажа электрооборудования и электроустановочных изделий.{% endblock desc %}"/>
<link rel="canonical" href="{% block canonical %}Index{% endblock canonical %}"/>
<link rel="shortcut icon" href="{% static "img/elecso_favicon.png" %}">
<link rel="apple-touch-icon-precomposed" href="{% static "img/elecso_favicon_144.png" %}">
<!--[if lte IE 9]><script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script><![endif]-->


<link rel="stylesheet" href="{% static "css/font-awesome.css" %}" type="text/css" media="all">
<link rel="stylesheet" id="contact-form-7-css" href="{% static "css/styles.css" %}" type="text/css" media="all">
<link rel="stylesheet" id="cg-ionicons-css" href="{% static "css/ionicons.css" %}" type="text/css" media="all">
<link rel="stylesheet" id="cg-bootstrap-css" href="{% static "css/bootstrap.css" %}" type="text/css" media="all">
<link rel="stylesheet" id="cg-commercegurus-css" href="{% static "css/commercegurus.css" %}" type="text/css" media="all">
<link rel="stylesheet" id="cg-responsive-css" href="{% static "css/responsive.css" %}" type="text/css" media="all">
<link rel="stylesheet" id="cg-vccss-css" href="{% static "css/vc.css" %}" type="text/css" media="all">
<link rel="stylesheet" id="js_composer_front-css" href="{% static "css/js_composer.css" %}" type="text/css" media="all">
<link rel="stylesheet" id="redux-google-fonts-cg_reduxopt-css" href="{% static "css/css_002.css" %}" type="text/css" media="all">
<link rel="stylesheet" id="redux-layerslider" href="{% static "css/layerslider.css" %}" type="text/css" media="all">

<script type="text/javascript" src="{% static "js/jquery-1.7.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/divPopUp.js" %}"></script>
<script type="text/javascript" src="{% static "js/var.js" %}"></script>

{% block inform %}
<link rel="stylesheet" href="/static/css/home.css" type="text/css" media="all">
<meta name="keywords"  content="Щиты квартирные, Щиты освещения, Щит распределительный, Насосные щиты, Щиты АВР, Электрооборудование, Электроустановочные изделия" />
{% endblock inform %}

<link rel="stylesheet" href="{% static "css/template.css" %}" type="text/css" media="all">


<link rel="shortlink" href="http://elecso.ru/">


<!-- Yandex.Metrika counter -->

<script type="text/javascript">
var yaParams = {ip_adress: "<? echo $_SERVER['REMOTE_ADDR'];?>"};
</script>

<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter39821600 = new Ya.Metrika({id:39821600,
					webvisor:true,
                    params:window.yaParams,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,params:window.yaParams||{ }});
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<!-- /Yandex.Metrika counter -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91693070-1', 'auto');
  ga('send', 'pageview');

</script>

</head>

<body id="skrollr-body" class="home page page-id-5 page-template page-template-page-full-width page-template-page-full-width-php cg-header-style-default cg-sticky-enabled  has-featured-image wpb-js-composer js-comp-ver-4.11.2 vc_responsive cgtoolkit">

		<div id="back"></div>
		<div id='popup_massage' class="messages6">Сообщение успешно отправлено!</div>
		<div id="popup">
		<div class="layerclose212"><i class="fa fa-times" aria-hidden="true"></i></div>
<div class="vc_column-inner vc_custom_1444674595451">
<div class="wpb_wrapper">
<div class="wpcf7" id="wpcf7-f4-p67-o1">
<div class="screen-reader-response"></div>
<div class="wpcf7-form">
<p style='margin: 0 0 20px;'>
    <span class="wpcf7-form-control-wrap your-name">
	<span class="wpcf7-not-not_var messages1"></span><span class="wpcf7-not-not_var messages2"></span>
	<input name="your-name" value="" id='user_name' placeholder="Имя *" size="40" class="spb_pro_kort wpcf7-form-control wpcf7-text wpcf7-validates-as-required" type="text"></span> </p>
<p style='margin: 0 0 20px;'>
    <span class="wpcf7-form-control-wrap your-email">
	<span role="alert" class="wpcf7-not-not_var messages5"></span><span role="alert" class="wpcf7-not-not_var messages4"></span>
	<input name="your-email" value="" id='user_email' placeholder="E-mail" size="40" class="spb_pro_kort wpcf7-form-control wpcf7-text wpcf7-validates-as-required " type="text"></span> </p>
<p style='margin: 0 0 20px;'>
    <span class="wpcf7-form-control-wrap your-subject">
	<span role="alert" class="wpcf7-not-not_var messages3"></span><span role="alert" class="wpcf7-not-not_var messages4"></span>
	<input name="your-subject" value="" id='user_telefon' placeholder="Телефон" size="40" class="spb_pro_kort wpcf7-form-control wpcf7-text" type="text"></span> </p>
<p style='margin: 0 0 20px;'>
    <span class="wpcf7-form-control-wrap your-message">
	<textarea name="your-message" id='text_comment' placeholder="Введите текст *" cols="40" rows="10" class="spb_pro_kort wpcf7-form-control wpcf7-textarea"></textarea>
	</span></p>
<p>
<span class="hint"  style='float:left;'>* &#8212; обязательные поля.</span>
<input style='float:right; margin:0 50px 0 0' value="Отправить" class="wpcf7-form-control wpcf7-submit" type="submit" id='set_mode' onclick="yaCounter39821600.reachGoal('click_sent'); return false;">
</p>
<div class="wpcf7-response-output wpcf7-display-none"></div>
</div></div></div>
</div>
</div>
	
<div style="display: none;" class="cg-loader">
				<div class="cg-folding-cube">
				  <div class="cg-cube1 cg-cube"></div>
				  <div class="cg-cube2 cg-cube"></div>
				  <div class="cg-cube4 cg-cube"></div>
				  <div class="cg-cube3 cg-cube"></div>
				</div>
			</div>


			
		<div id="main-wrapper" class="content-wrap">

							

<!-- Load Top Bar -->
	<div class="cg-announcements">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-md-9 col-lg-9 top-bar-left">
			<div id="text-10" class="widget-1 widget-first widget-last widget-odd widget_text">			
			<div class="textwidget" style='height:27px;'></div>
		</div>
		</div>
				<div class="col-sm-4 col-md-3 col-lg-3 top-bar-right">
	<div id="text-13" class="widget-1 widget-first widget-last widget-odd widget_text">			
	<div class="textwidget"></div>
		</div></div>		
			</div>
		</div>
	</div>
	
<!--/ End Top Bar -->

<!-- Only load if Mobile Search Widget Area is Enabled -->
	<script>

	    ( function ( $ ) {
	        "use strict";

	        $( document ).ready( function () {
	            $( ".activate-mobile-search" ).click( function () {
	                $( ".mobile-search-reveal" ).slideToggle( "fast" );
	            } );
				$(window).resize(function(){
					$( ".mobile-search-reveal" ).css("display", "none");
				});
	        } );

	    }( jQuery ) );
	</script>

	<div class="mobile-search-reveal">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div class="activate-mobile-search close"><i class="ion-close-round"></i></div>
					<div id="search-2" class="widget-1 widget-first widget-last widget-odd widget_search">
					<form role="search" method="get" class="search-form" action="http://elecso.ru/search/">
    <label>
        <span class="screen-reader-text">Найти:</span>
        <input class="search-field" placeholder="Найти" name="s" type="search">
    </label>
    <input class="search-submit" value="Search" type="submit">
</form>
</div>				</div>
			</div>
		</div>
	</div>
<!--/ End Mobile Search -->

<div id="wrapper">
	<!-- Left Logo with menu below -->
	<div class="cg-menu-below cg-logo-left cg-menu-left">
		<div class="container">
			<div class="cg-logo-cart-wrap">
				<div class="cg-logo-inner-cart-wrap">
					<div class="row">
						<div class="container width-auto">
							<div class="cg-wp-menu-wrapper">
								<div id="load-mobile-menu">
								</div>

								<div class="activate-mobile-search"><i class="ion-android-search mobile-search-icon"></i></div>
								
								<div class="rightnav">
									<div class="cg-extras">
															
<div class="extra">				<div class="site-search">
				<div class="widget widget_search">
	
	<form role="search" method="get" class="search-form" action="http://elecso.ru/search/">
		<label>
			<span class="screen-reader-text">Найти:</span>
			<input class="search-field" placeholder="Найти" name="s" type="search">
		</label>
		<input class="search-submit" value="Search" type="submit">
	</form>
	
</div>				</div>
					</div>
										 
<div class="extra">

	<div id="text-5" class="widget-2 widget-even cg-header-details widget_text">
		<h4 class="widget-title"><span style='font-family:"RobotoRegular"; font-size:14px;'>E-mail адрес:</span></h4>			
		<div class="textwidget" style='font-family:"RobotoLight"; font-size:13px;'>info@elecso.ru<i class="ion-ios-email-outline"></i>
	</div></div>
	<div id="text-6" class="widget-3 widget-last widget-odd cg-header-details widget_text">
		<h4 class="widget-title"><span style='font-family:"RobotoRegular"; font-size:14px;'>Телефон:</span></h4>			
		<div class="textwidget" style='font-family:"RobotoLight"; font-size:13px;'>+7(925)154-79-90<i class="ion-ios-telephone-outline"></i>
	</div></div>
</div>


									</div><!--/cg-extras +7(926)664-11-82--> 
								</div><!--/rightnav -->

								
				<div class="leftnav logo image dynamic-logo-width">
					<a class="cg-main-logo" href="http://elecso.ru/" rel="home">
					<span class="helper"></span><img src="{% static "img/logotip.png" %}" alt="Логотип Элексо"></a>
				</div>

								
							</div>
						</div><!--/container -->
					</div><!--/row -->
				</div><!--/cg-logo-inner-cart-wrap -->
			</div><!--/cg-logo-cart-wrap -->
		</div><!--/container -->
	</div><!--/cg-menu-below -->
	
	<div class="cg-primary-menu cg-wp-menu-wrapper cg-primary-menu-below-wrapper cg-primary-menu-left">
		<div class="container">
			<div class="row margin-auto">
			
		<div class="cg-main-menu">
		<ul id="menu-main-menu" class="menu">
		<li id="menu-item-80" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-5 current_page_item menu-item-80"><a href="http://elecso.ru/">Главная</a></li>
		<li id="menu-item-75" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-parent-item menu-item-75"><a href="http://elecso.ru/uslugi">Услуги</a>
		<div style="" class="cg-submenu-ddown"><div class="container">
		<ul class="cg-menu-ul">
			<li id="menu-item-104" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-102 current_page_item menu-item-has-children menu-parent-item menu-item-104" style="list-style: outside none none;"><a href="http://elecso.ru/uslugi/prodazha-elektrooborudovaniya">Продажа электрооборудования</a>
				<div class="cg-submenu"><div class="">
				<ul>		
				<li id="menu-item-70560" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-70560" style="list-style: outside none none;"><a href="http://elecso.ru/uslugi/prodazha-elektrooborudovaniya/preobrazovateli-chastoty">Преобразователи частоты</a></li>
				<li id="menu-item-70560" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-70560" style="list-style: outside none none;"><a href="http://elecso.ru/uslugi/prodazha-elektrooborudovaniya/ustrojstva-plavnogo-puska">Устройства плавного пуска</a></li>
				<li id="menu-item-70559" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-70559" style="list-style: outside none none;"><a href="http://elecso.ru/uslugi/prodazha-elektrooborudovaniya/modulnoe-oborudovanie">Модульное оборудование</a></li>
				<li id="menu-item-70559" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-70559" style="list-style: outside none none;"><a href="http://elecso.ru/uslugi/prodazha-elektrooborudovaniya/elektroustanovochnye-izdeliya">Электроустановочные изделия</a></li>
				</ul>
				</div></div>
			</li>
			<li style="list-style: outside none none;" id="menu-item-97" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-97"><a href="http://elecso.ru/uslugi/raspredelitelnyj-shhit">Распределительный щит</a></li>
			<li style="list-style: outside none none;" id="menu-item-129" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-129"><a href="http://elecso.ru/uslugi/shkaf-upravleniya-nasosami">Шкаф управления насосами</a></li>
			<li style="list-style: outside none none;" id="menu-item-128" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-128"><a href="http://elecso.ru/uslugi/shkaf-avtomaticheskogo-vvoda-rezerva">Шкаф автоматического ввода резерва</a></li>			
		</ul>
		</div>
		</div>
		</li>
		<li id="menu-item-76" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-76"><a href="http://elecso.ru/poleznaya-informaciya"><strong>NEW</strong>Полезная информация</a></li>
		<li id="menu-item-79" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-parent-item menu-item-79"><a href="http://elecso.ru/zakaz-i-dostavka">Заказ и доставка</a>
		<div style="display: none;" class="cg-submenu-ddown"><div class="container">
		<ul class="cg-menu-ul">
			<li style="list-style: outside none none;" id="menu-item-70818" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-70818"><a href="http://elecso.ru/zakaz-i-dostavka/zakazat-elektroshhit">Заказать электрощит</a></li>
			<li style="list-style: outside none none;" id="menu-item-70817" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-70817"><a href="http://elecso.ru/zakaz-i-dostavka/zakazat-elektrooborudovanie">Заказать электрооборудование</a></li>
		</ul></div></div></li>
		<li id="menu-item-78" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-78"><a href="http://elecso.ru/kontakty">Контакты</a></li>
		</ul></div>										
			</div>
		</div>
	</div>




			<!--FIXED -->
				<div class="cg-header-fixed-wrapper">
			<div class="cg-header-fixed">
				<div class="container">
					<div class="cg-wp-menu-wrapper">
						<div class="cg-primary-menu">
							<div class="row">
								<div class="container width-auto">
									<div class="cg-wp-menu-wrapper">
										<div class="rightnav">
											
											
	<div class="cta-button">
		<a href="#" class="showpopup" onclick="yaCounter39821600.reachGoal('click'); return false;" style='font-family:"RobotoRegular"'>Задать вопрос</a>
	</div>

	
										</div><!--/rightnav -->

<div class="leftnav logo image">
	<a class="cg-sticky-logo" href="http://elecso.ru" rel="home">
	<span class="helper"></span><img src="{% static "img/logotip.png" %}" alt="Логотип Элексо"></a>
</div>
<div class="menu-main-menu-container">
<ul id="menu-main-menu-1" class="menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-5 current_page_item menu-item-80"><a href="http://elecso.ru/">Главная</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-parent-item menu-item-75"><a href="http://elecso.ru/uslugi">Услуги</a>
	<div class="cg-submenu-ddown"><div class="container">
		<ul class="cg-menu-ul">
			<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-97"><a href="http://elecso.ru/uslugi/raspredelitelnyj-shhit">Распределительный щит</a></li>
			<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-129"><a href="http://elecso.ru/uslugi/shkaf-upravleniya-nasosami">Шкаф управления насосами</a></li>
			<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-128"><a href="http://elecso.ru/uslugi/shkaf-avtomaticheskogo-vvoda-rezerva">Шкаф автоматического ввода резерва</a></li>
			<li id="menu-item-104" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-102 current_page_item menu-item-has-children menu-parent-item menu-item-104" style="list-style: outside none none;"><a href="http://elecso.ru/uslugi/prodazha-elektrooborudovaniya">Продажа электрооборудования</a>
				<div class="cg-submenu"><div class="">
				<ul>		
				<li id="menu-item-70560" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-70560" style="list-style: outside none none;"><a href="http://elecso.ru/uslugi/prodazha-elektrooborudovaniya/preobrazovateli-chastoty">Преобразователи частоты</a></li>
				<li id="menu-item-70560" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-70560" style="list-style: outside none none;"><a href="http://elecso.ru/uslugi/prodazha-elektrooborudovaniya/ustrojstva-plavnogo-puska">Устройства плавного пуска</a></li>
				<li id="menu-item-70559" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-70559" style="list-style: outside none none;"><a href="http://elecso.ru/uslugi/prodazha-elektrooborudovaniya/modulnoe-oborudovanie">Модульное оборудование</a></li>
				<li id="menu-item-70559" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-70559" style="list-style: outside none none;"><a href="http://elecso.ru/uslugi/prodazha-elektrooborudovaniya/elektroustanovochnye-izdeliya">Электроустановочные изделия</a></li>
				</ul>
				</div></div>
			</li>
		</ul>
	</div></div>
	</li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-76"><a href="http://elecso.ru/poleznaya-informaciya"><strong>NEW</strong>Полезная информация</a></li>

	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-parent-item menu-item-79"><a href="http://elecso.ru/zakaz-i-dostavka">Заказ и доставка</a>
		<div style="display: none;" class="cg-submenu-ddown"><div class="container">
		<ul class="cg-menu-ul">
			<li style="list-style: outside none none;" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-70818"><a href="http://elecso.ru/zakaz-i-dostavka/zakazat-elektroshhit">Заказать электрощит</a></li>
			<li style="list-style: outside none none;" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-70817"><a href="http://elecso.ru/zakaz-i-dostavka/zakazat-elektrooborudovanie">Заказать электрооборудование</a></li>
		</ul></div></div>
	</li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-78"><a href="http://elecso.ru/kontakty">Контакты</a></li>
</ul>
</div>																			
									</div><!--/cg-wp-menu-wrapper -->
								</div><!--/container -->
							</div><!--/row -->
						</div><!--/cg-primary-menu -->
					</div><!--/cg-wp-menu-wrapper -->
				</div><!--/container -->
			</div><!--/cg-header-fixed -->
		</div><!--/cg-header-fixed-wrapper. -->
	
	<div class="page-container">
			

<div style="display: block;" id="mobile-menu">
						<a id="skip" href="#cg-page-wrap" class="hidden" title="Skip to content">Перейти к сожержанию</a> 
<ul id="mobile-cg-primary-menu" class="mobile-menu-wrap">
	<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-5 current_page_item"><a href="http://elecso.ru/"><span>Главная</span></a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-parent-item"><a href="http://elecso.ru/uslugi"><span>Услуги</span></a>
		<ul class="sub-menu">
		<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://elecso.ru/uslugi/raspredelitelnyj-shhit"><span>Распределительный щит</span></a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://elecso.ru/uslugi/shkaf-upravleniya-nasosami"><span>Шкаф управления насосами</span></a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://elecso.ru/uslugi/shkaf-avtomaticheskogo-vvoda-rezerva"><span>
Шкаф автоматического ввода резерва</span></a></li>
			<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-parent-item"><a href="http://elecso.ru/uslugi/prodazha-elektrooborudovaniya">Продажа электрооборудования</a>
			<ul class="sub-menu">
			<li id="menu-item-70560" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-70560" style="list-style: outside none none;"><a href="http://elecso.ru/uslugi/prodazha-elektrooborudovaniya/preobrazovateli-chastoty">Преобразователи частоты</a></li>
				<li id="menu-item-70560" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-70560" style="list-style: outside none none;"><a href="http://elecso.ru/uslugi/prodazha-elektrooborudovaniya/ustrojstva-plavnogo-puska">Устройства плавного пуска</a></li>
				<li id="menu-item-70559" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-70559" style="list-style: outside none none;"><a href="http://elecso.ru/uslugi/prodazha-elektrooborudovaniya/modulnoe-oborudovanie">Модульное оборудование</a></li>
				<li id="menu-item-70559" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-70559" style="list-style: outside none none;"><a href="http://elecso.ru/uslugi/prodazha-elektrooborudovaniya/elektroustanovochnye-izdeliya">Электроустановочные изделия</a></li>
			</ul>
		</li>
		</ul>
	</li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://elecso.ru/poleznaya-informaciya"><span><strong>NEW</strong> Полезная информация</span></a></li>

	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-parent-item"><a href="http://elecso.ru/zakaz-i-dostavka"><span>  Заказ и доставка</span></a>
		<ul class="sub-menu">
		<li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="http://elecso.ru/zakaz-i-dostavka/zakazat-elektroshhit"><span>Заказать электрощит</span></a></li>
		<li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="http://elecso.ru/zakaz-i-dostavka/zakazat-elektrooborudovanie"><span>Заказать электрооборудование</span></a></li>
		</ul>
	</li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://elecso.ru/kontakty"><span>Контакты</span></a></li>
</ul>				
</div><!--/mobile-menu -->

{% block body %}Index{% endblock body %}

<footer class="footercontainer"> 
<div class="first-footer">
<div class="container">
	<div class="row">
			<div id="text-8" class="widget-1 widget-first widget-odd col-lg-3 col-md-3 col-sm-12 col-xs-12 col-nr-3 widget_text">
				<div class="widget-1 widget-first widget-odd inner-widget-wrap">			
				<div class="textwidget">
				<img src="{% static "img/logotip_w.png" %}" class="logo" alt="Broker Logo" style="display: block; max-width: 180px; margin-bottom: 18px; margin-top: -4px;">
				<h5 style="margin-right: 10px;color: #ffffff;font-size: 14px;font-family: 'RobotoRegular';font-style: normal;font-weight: 300;line-height: 1.55em;">
				Продажа электрооборудования и электроустановочных изделий. 
				Сборка распределительных электрощитов, квартирных щитов, шкафов управления, АВР.</h5></div>
				</div>
			</div>
		
		
		<div id="text-7" class="widget-2 widget-even col-lg-6 col-md-6 col-sm-12 col-xs-12 col-nr-3 widget_text">
		<div class="widget-2 widget-even inner-widget-wrap">
			<h4 class="widget-title"><span>Краткое меню</span></h4>			
			<div class="textwidget"><div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6">
			<ul class="border">
			<li><a href="http://elecso.ru/">Главная</a></li>
			<li><a href="http://elecso.ru/uslugi">Услуги</a></li>
			<li><a href="http://elecso.ru/poleznaya-informaciya">Полезная информация</a></li>
			<li><a href="http://elecso.ru/zakaz-i-dostavka">Заказ и доставка</a></li>
			<li><a href="http://elecso.ru/kontakty">Контакты</a></li>
			</ul>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6">
			<ul>
			<li><a href="http://elecso.ru/uslugi/raspredelitelnyj-shhit">Распределительный щит</a></li>
			<li><a href="http://elecso.ru/uslugi/shkaf-upravleniya-nasosami">Шкаф управления насосами</a></li>
			<li><a href="http://elecso.ru/uslugi/shkaf-avtomaticheskogo-vvoda-rezerva">Шкаф автоматического ввода резерва</a></li>
			<li><a href="http://elecso.ru/uslugi/prodazha-elektrooborudovaniya">Продажа электрооборудования</a></li>
			</ul>
			</div>
			</div>
			</div>
			</div>
		</div>		
		<div id="recent-posts-4" class="widget-3 widget-odd col-lg-3 col-md-3 col-sm-12 col-xs-12 col-nr-3 widget_recent_entries">
		<div class="widget-3 widget-odd inner-widget-wrap">		
		<h4 class="widget-title"><span>Статьи</span></h4>		
			
				<ul>	
						{% for footer in footer%}							
						<li class='qewrafds'>
						<a href="{{footer.post_url}}">{{footer.title}}</a>	
						<span class="post-date">{{footer.post_date}}</span>
						</li>
						{% endfor %}	
				</ul>

		</div></div>		
		

	</div><!-- /.row -->
</div><!-- /.container -->
</div><!-- /.lightwrapper -->
			

</footer>


<a href="#0" class="cd-top">Top</a>

<script type="text/javascript" src="{% static "js/waypoints.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
<script type="text/javascript" src="{% static "js/imagesloaded.js" %}"></script>

 <script type="text/javascript" src="{% static "js/plugins.js" %}"></script>
<script type="text/javascript" src="{% static "js/commercegurus.js" %}"></script>	


</body></html>

