{% extends "base.html" %}
{% block title %}Контакты | Элексо{% endblock title %}
{% block desc %}Сборка распределительных электрощитов, квартирных щитов, шкафов управления насосами, АВР. Продажа электрооборудования и электроустановочных изделий.{% endblock desc %}
{% block canonical %}http://elecso.ru/kontakty{% endblock canonical %}
{% block inform %}
<link rel="stylesheet" href="/static/css/without_bar.css" type="text/css" media="all">
<script type="text/javascript" src="/static/js/contact.js"></script>
{% endblock inform %}

{% block body %}
			<div id="cg-page-wrap" class="hfeed site">				
				
<div class="content-area">
			<article id="post-67" class="post-67 page type-page status-publish has-post-thumbnail hentry">
		<div class="header-wrapper">
			<div class="cg-hero-bg" style="background-image: url(http://elecso.ru/static/img/71559_0.jpg); "></div>
			<div class="overlay"></div> 
			<div class="container">
				<div class="row vertical-align">
					<div class="col-xs-12 col-lg-9 col-md-9">
						<header class="entry-header">
							<h1 class="cg-page-title">Контакты</h1>
						</header>
					</div>
					<div class="col-xs-12 col-lg-3 col-md-3">
						
	<div class="cta-button">
		<a href="#" class="showpopup" onclick="yaCounter39821600.reachGoal('click'); return false;">Задать вопрос</a>
	</div>

						</div>
				</div>
			</div>
		</div>
		
		<div class="breadcrumbs-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-lg-9 col-md-9 col-sm-9">
					<p class="sub-title">
					<span>
					<span typeof="v:Breadcrumb">
						<a rel="v:url" property="v:title" title="На главную" class="home" href="http://elecso.ru">Главная</a><span class="breadcrumb_last">Контакты</span>						
						</span>
						</span></p>					
					</div>
				</div>
			</div>
		</div>

	    <div class="entry-content">		

<div class="container">
		<div class="vc_row wpb_row vc_row-fluid vc_custom_1444677581041">
		<div class="wpb_column vc_column_container vc_col-sm-12">
		<div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p></p>

		</div>
	</div>
</div></div></div></div></div>

<div class="container">
<div class="vc_row wpb_row vc_row-fluid vc_custom_1444677549059">
<div class="wpb_column vc_column_container vc_col-sm-12">
<div class="vc_column-inner "><div class="wpb_wrapper">
<div class="separator  normal  " style="background-color:#eeeeee;height:1px;">
</div>
</div></div></div></div></div>

<div class="container">
<div class="vc_row wpb_row vc_row-fluid">
<div class="wpb_column vc_column_container vc_col-sm-6">
<div class="vc_column-inner vc_custom_1445110591475">
<div class="wpb_wrapper">


  <div class="wpb_gmaps_widget wpb_content_element">
		<div class="wpb_wrapper">
		<div class="wpb_map_wraper">
<img src="/static/img/contact.jpg" alt="ЩР"/>
            <!---                                                                      
			<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=_926mWl-VkkicaVbPusO197pOPUNy0pm&amp;width=530&amp;height=355&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script> ---> </div>
	</div>
</div>

<div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1444680613011 vc_row-has-fill">
<div class="wpb_column vc_column_container">
  <div class="vc_column-inner vc_custom_1460559885320"><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h4>Сборка электощита</h4>
<h6>Для заказа электрощита заполните опросный листы либо оставте свои контактные данные для обратной связи.</h6>

<div class="textwidget">
<p style='margin-bottom: 0;'><a style='border-bottom: 0; font-size: 15px;' href="/static/info/Oprosny_list_PR.xlsx" class="pdf">Опросный лист РЩ</a></p>
<p style='margin-bottom: 0;'><a style='border-bottom: 0; font-size: 15px;' href="/static/info/Oprosny_list_AVR.xlsx" class="pdf">Опросный лист АВР</a></p>
<p style='margin-bottom: 0;'><a style='border-bottom: 0; font-size: 15px;' href="/static/info/Oprosny_list_SHUN.xlsx" class="pdf">Опросный лист ШУН</a></p>
</div>
                                                                                  
		</div>
	</div>
</div></div></div></div></div></div></div>
  
  
                      
<div class="wpb_column vc_column_container vc_col-sm-6">
<div class="vc_column-inner vc_custom_1444674595451">
<div class="wpb_wrapper">
<div role="form" class="wpcf7" dir="ltr">
<div class="screen-reader-response"></div>
  
<div class="wpcf7-form">
<form action="#" method="post" id="sendform">
    {% csrf_token %}
<p>
<span class="wpcf7-not-not_var messages1_cont qweasdzxc"></span>
<span class="wpcf7-not-not_var messages2_cont qweasdzxc"></span>
<span class="wpcf7-form-control-wrap your-name">
<input id='user_name_cont' name="name" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" type="text" placeholder="Имя *"></span> </p>
<p>
<span class="wpcf7-not-not_var messages5_cont qweasdzxc"></span>
<span class="wpcf7-not-not_var messages4_cont qweasdzxc"></span>
    <span class="wpcf7-form-control-wrap your-email"><input id='user_email_cont' name="email" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" placeholder="E-mail" type="text"></span> </p>
<p>
<span class="wpcf7-not-not_var messages3_cont qweasdzxc"></span>
<span class="wpcf7-not-not_var messages4_cont qweasdzxc"></span>
<span class="wpcf7-form-control-wrap your-subject"><input id='user_telefon_cont' name="tel" size="40" class="wpcf7-form-control wpcf7-text" type="text" placeholder="Телефон"></span> </p>
<p><span class="wpcf7-form-control-wrap your-message">
<textarea name="message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea"  id="text_comment_cont" placeholder="Введите текст *"></textarea></span> </p>
<p><span class="hint">* — обязательные поля.</span></p>

<p>
<input type="file" name="file[]" id="file" class="inputfile" data-multiple-caption="{count} файла" multiple >
<label for="file">
<span class='span_cont_file'></span>
<strong>
<i class="fa fa-folder-o" aria-hidden="true"></i>
&nbsp;Выберите файл
</strong>
</label>
</p>
</form>
<p><input value="Отправить" class="wpcf7-form-control wpcf7-submit" onclick="yaCounter39821600.reachGoal('click_sent_2'); return false;" type="submit" id='set_mode_cont'></p>
<div class="wpcf7-response-output wpcf7-display-none"></div>
</div></div></div></div></div></div></div>

<div class="container">
<div class="vc_row wpb_row vc_row-fluid vc_custom_1444677549059">
<div class="wpb_column vc_column_container vc_col-sm-12">
<div class="vc_column-inner "><div class="wpb_wrapper">
<div class="separator  normal  " style="background-color:#eeeeee;height:1px;">
</div>
</div></div></div></div></div>

<!-----
<div class="container">
		<div class="vc_row wpb_row vc_row-fluid vc_custom_1444677581041" style='padding-top:0px !important;'>
		<div class="wpb_column vc_column_container vc_col-sm-12">
		<div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h2 style='margin: 0 0 1em 0; text-align:center;'>Реквизиты компании ООО "Элексо"</h2>
<div style='margin: 0 auto; max-width: 600px;'>
<p>ИНН 7722379260</p>
<p>КПП 772201001</p>
<p>ОГРН 5167746232650</p>
<p>ОКПО 05206410, ОКАТО 45290564000, ОКТМО 45388000000, ОКОГУ 4210014, ОКФС 16, ОКОПФ 12300</p>
<p>Система налогообложения - Общая</p>
<p>Банк АО «Альфа-банк»</p>
<p>БИК 044525593</p>
<p>Р/с 40702 810 9026 8000 2110</p>
<p>К/с 30101 810 2000 0000 0593</p>                       
<p>Юр. адрес: 111250, г. Москва, Лефортовский вал, дом 24, помещение 4, комната 1</p>
<p>E-mail: info@elecso.ru</p>
</div>
		</div>
	</div>
</div></div></div></div></div>
----->
<div class="container">
		<div class="vc_row wpb_row vc_row-fluid vc_custom_1444677581041">
		<div class="wpb_column vc_column_container vc_col-sm-12">
		<div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
		</div>
	</div>
</div></div></div></div></div>

<script type="text/javascript"> 
( function ( document, window, index )
{
	var inputs = document.querySelectorAll( '.inputfile' );
	Array.prototype.forEach.call( inputs, function( input )
	{
		var label	 = input.nextElementSibling,
			labelVal = label.innerHTML;

		input.addEventListener( 'change', function( e )
		{
			var fileName = '';
			if( this.files && this.files.length > 1 )
				fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
			else
				fileName = e.target.value.split( '\\' ).pop();

			if( fileName )
				label.querySelector( 'span' ).innerHTML = fileName;
			else
				label.innerHTML = labelVal;
		});

		// Firefox bug fix
		input.addEventListener( 'focus', function(){ input.classList.add( 'has-focus' ); });
		input.addEventListener( 'blur', function(){ input.classList.remove( 'has-focus' ); });
	});
}( document, window, 0 ));
</script>
		
		    </div><!-- .entry-content -->
	
</article><!-- #post-## -->
		<div class="container">
					</div>
	</div><!-- #primary -->


</div> 
</div><!--/page-container -->

</div><!--/wrapper-->
</div><!-- close #cg-page-wrap -->

{% endblock body %}